{% include "./header.html" %}

<p>{{ produto.codigo }} {{ produto.nome }}</p>
<p>Marca: {{produto.marca}}</p>
{% load humanize %}
<p>Valor: R$ {{produto.valor|intcomma}}</p>

{% if produto.quantidade_disponivel == 0 %}
<p>Produto fora de estoque</p>
{% else %}
<form method="post">
    {% csrf_token %}
    <div id="compra">
        <p>
            <label for="id_quantidade">Qtde.:</label>
            <input id="id_quantidade" type="number" name="quantidade" min="1" max="{{ produto.quantidade_disponivel }}"
                   required>
            <input id="id_marca" name="marca" type="hidden" value="{{ produto.marca }}">
            <input id="id_codigo" name="codigo" type="hidden" value="{{ produto.codigo }}">
            <input id="id_nome" name="nome" type="hidden" value="{{ produto.nome }}">
        </p>
        <input type="submit" value="Adicionar ao carrinho">
    </div>
</form>
{% endif %}

<p>
    <a href="{{request.META.HTTP_REFERER}}">Voltar</a>
    {% if user.is_authenticated %}
    {% url 'login:logout' as logout_url %}
    <a href="{{ logout_url }}">Logout</a>
    {% endif %}
</p>
