{% if user.is_authenticated %}
    Olá, {{ user.username }}. Aproveite nossos itens.
{% else %}
    Seja bem-vindo(a). <a href="/cadastro/">Cadastre-se</a> ou <a href="/login.html">entre</a>
    para aproveitar o melhor de nossa loja.
{% endif %}

<p>Escolha seu produto:</p>
{% if lista_produtos %}
    <ul>
    {% for produto in lista_produtos %}
        <li><a href="/produto/{{ produto.id }}/">{{ produto.nome }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Não existem produtos cadastrados.</p>
{% endif %}

{% url 'login:logout' as logout_url %}
<a href="{{ logout_url }}">Logout</a>
